<md-menu>
  <md-button aria-label="Operation menu" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
    <md-icon md-menu-origin md-svg-icon="assets/images/ic_more_vert_black_24px.svg"></md-icon>
  </md-button>
  <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
     <md-menu-item>
      <md-button ui-sref="nodeDetailState"><span style="margin-right:20px;"">Detail</span></md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button md-accent md-hue-1 ng-click=$ctrl.delete_selected_node()><span style="margin-right:20px;">Delete</span></md-button>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item>
      <md-button ng-disabled="true"><span style="margin-right:20px;">Other Operations</span></md-button>
    </md-menu-item>
<!--         <md-menu-item>
      <md-button ng-click="ctrl.redial($event)">
        <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
        Redial
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
        <md-icon md-svg-icon="call:voicemail"></md-icon>
        Check voicemail
      </md-button>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item>
      <md-button ng-click="ctrl.toggleNotifications()">
        <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
        {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
      </md-button>
    </md-menu-item> -->
  </md-menu-content>
</md-menu>